<header class="sticky flex justify-between items-center m-4 md:mx-10">
  <div class="flex items-center">
    <img
      src="../assets/yellow-logo.svg"
      alt="Brag'bout logo"
      class="w-32 object-cover -rotate-6"
    />
    <!-- <div class="ml-20">
        <input
          type="text"
          id="search-input"
          placeholder="Explore"
          class="border border-slate-300 focus:outline-none focus:border-black focus:ring-1 focus:ring-black bg-white rounded-full py-1 px-4 w-60 placeholder:text-xs"
        />
      </div> -->
  </div>
  <div
    class="fixed bottom-4 left-1/2 -translate-x-1/2 grid grid-cols-4 gap-10 z-50 md:sticky md:top-4"
  >
    <a href="/" class="flex flex-col items-center">
      <img
        src="../assets/icons/home.svg"
        alt="Home icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
    <a href="/chat/" class="flex flex-col items-center">
      <img
        src="../assets/icons/chat.svg"
        alt="Chat icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
    <a href="/notifications/" class="flex flex-col items-center">
      <img
        src="../assets/icons/bell.svg "
        alt="Bell icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
    <a href="/profile/" class="flex flex-col items-center">
      <img
        src="../assets/icons/heart.svg "
        alt="Heart icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
  </div>
  <div
    class="flex items-center md:p-1 md:pr-3 bg-white border border-black md:border-slate-300 rounded-full"
  >
    <!-- <img
      src="../assets/logo-linear-77.png"
      alt="Profile image"
      class="w-8 rounded-full"
    /> -->
    <img
      src="https://i.pravatar.cc/300"
      alt="Profile image"
      class="w-8 rounded-full"
    />
    <p class="hidden md:block text-sm font-semibold px-4">Marty</p>
    <img
      src="../assets/icons/down.svg "
      alt="Down icon"
      class="hidden md:block w-6"
    />
  </div>
</header>
