<div class="sticky flex justify-between items-center p-4 lg:px-8 xl:px-10">
  <div class="flex items-center">
    <img
      src="../assets/yellow-logo.svg"
      alt="Brag'bout logo"
      class="w-32 object-cover -rotate-6"
    />
  </div>
  <div
    class="fixed bottom-4 left-1/2 -translate-x-1/2 grid grid-cols-4 gap-10 z-50 md:sticky md:top-4"
  >
    <a href="/" class="flex flex-col items-center">
      <img
        src="../assets/icons/home.svg"
        alt="Home icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
    <a href="/chat/" class="flex flex-col items-center">
      <img
        src="../assets/icons/chat.svg"
        alt="Chat icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
    <a href="/notifications/" class="flex flex-col items-center">
      <img
        src="../assets/icons/bell.svg "
        alt="Bell icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
    <a href="/profile/" class="flex flex-col items-center">
      <img
        src="../assets/icons/heart.svg "
        alt="Heart icon"
        class="w-6 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out"
      />
      <div
        class="w-2 h-2 rounded-full bg-accent-yellow border border-black mt-0.5 active-icon hidden"
      ></div>
    </a>
  </div>
  <div
    class="hidden md:flex items-center md:p-0.5 bg-white border border-black md:border-slate-300 rounded-full cursor-pointer hover:shadow-md transition-all duration-200 ease-in-out hover:border-black group"
  >
    <div class="flex items-center">
      <img
        id="profile-image"
        src=""
        alt="Profile image"
        class="w-8 rounded-full"
      />
      <div class="flex flex-col">
        <p
          id="log-out-text-desktop"
          class="opacity-0 -translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 text-sm font-semibold pl-6 pr-7 text-center hover:underline underline-offset-2"
        >
          Log Out
        </p>
        <p
          id="profile-name"
          class="hidden md:block group-hover:translate-y-4 group-hover:opacity-0 transition-all duration-300 text-sm font-semibold px-4 -mt-[18px] group-hover:-mt-6 pb-0.5 max-w-40 text-center truncate"
        ></p>
      </div>
    </div>
  </div>
  <div
    id="profile-container"
    class="md:hidden flex items-center bg-white border border-black rounded-full group transition-all duration-500 w-8 max-w-32 group"
  >
    <img
      id="mobile-profile-image"
      src="../assets/logo-linear-77.png"
      alt="Profile image"
      class="w-8 rounded-full"
    />
    <p
      id="log-out-text"
      class="text-xs font-semibold ml-6 mr-7 hidden justify-center items-center -translate-x-1 whitespace-nowrap transition-all duration-500 hover:underline underline-offset-2 cursor-pointer"
    >
      Log Out
    </p>
  </div>
</div>
