<div class="">
  <div class="relative">
    <img id="profile-banner" src="" alt="" class="rounded-t-2xl" />
    <img
      id="profile-avatar"
      src=""
      alt=""
      class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 w-20 h-20 rounded-full border-4 border-white"
    />
  </div>
  <div id="" class="flex justify-around mt-2">
    <div class="text-center">
      <div id="profile-followers" class="font-semibold"></div>
      <div class="text-xs">Followers</div>
    </div>
    <div class="text-center">
      <div id="profile-following" class="font-semibold"></div>
      <div class="text-xs">Following</div>
    </div>
  </div>
  <a href="#" id="profile-name" class="profile-name flex justify-center mt-6"
    >Profile Name</a
  >
  <div
    id="profile-bi"
    class="flex justify-center mt-4 text-center px-6 text-sm/5 text-slate-600"
  >
    🌟 Profesional bug killer (web developer)
  </div>
  <div class="border-t m-4"></div>
  <div class="flex justify-center mb-4 mx-4">
    <a
      href="#"
      class="block text-center text-sm/5 text-slate-800 py-2 w-full rounded-xl border border-slate-300 hover:bg-yellow-50 hover:border-slate-700 hover:shadow transition-all duration-300"
      >Edit Profile</a
    >
  </div>
</div>
